.assetcard {
  width: 224px;
  margin: 15px 6px 0px 5px;
  /* padding: 13px 10px 8px; */
  border-radius: 7px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px #e7eaf3;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.cardleft__icon {
  width: 30px;
  height: 30px;
  margin: 0 8px 0 0;
  padding: 5px;
  border-radius: 3px;
}

.cardleft__icon > img {
  margin: 5px;
}

.cardtop__title {
  width: 75px;
  height: 17px;
  margin: 6px 10px 0px 8px;
  font-family: SFProDisplay;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: 0.5px;
  text-align: left;
  color: #343756;
}

.cardleft__top {
  display: flex;
}

.cardleft__bottom {
  height: 20px;
  margin: 6px 15px 0 1px;
  font-family: SFProDisplay;
  font-size: 9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.5px;
  text-align: left;
  color: #636f86;
}

.set__target {
  display: flex;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #e8eeff;
}

.set__target > button {
  flex-grow: 0;
  font-size: 9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #557aff;
  border: none;
  background: none;
  cursor: pointer;
}

.total__top {
  display: flex;
  flex-direction: row;

  border-radius: 2px;
  background-color: #557aff;
  margin-top: 8px;
}

.total__button {
  font-size: 9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  padding: 4px 6px;
  text-align: center;
  color: #fff;
  border: none;
  background: none;
  cursor: pointer;
}

.total__top > span {
  width: 28px;
  height: 13px;
  flex-grow: 0;
  font-family: SFProDisplay;
  font-size: 8px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

.total__sum {
  /* width: 36px;
  height: 24px; */
  font-family: SFProDisplay;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: center;
  color: #000;
  margin-top: 20px;
}
