.dashboard__card {
  margin: 0px 2px 20px 10px;
  padding: 20px 14px 41px 29px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
}

/* .dashboard__left {
  flex: 0.7;
}

.dashboard__right {
  flex: 0.3;
} */

.dashboard__container {
  display: flex;
  flex: 1;
  width: 725px;
}

.shared__container {
  flex: 0.6;
}

.shared__story {
  flex: 0.4;
}
